{
  "extends": "semantic-release-monorepo",
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    "@semantic-release/npm",
    ["@semantic-release/github", {
      "assets": [
        "README.md",
        "LICENSE",
        "packages/**/dist/**/*.tgz",
        "packages/**/dist/**/*.tar.gz",
        "packages/**/dist/**/*.whl"
      ]
    }]
  ]
}
